{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='telerick/styles/kendo.common-material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='telerick/styles/kendo.material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='telerick/styles/kendo.material.mobile.min.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='telerick/js/kendo.all.min.js') }}"></script>
    <script id="item-template" type="text/kendo-ui-template">
        #= data.item.text #
        # var is_bpm = data.item.text.indexOf('bpm'); #
        # if(is_bpm >= 0) { #
        <input class="k-input" style="width:70px; text-align: right;" type="text" value="#= data.item.value #">
        # } #
    </script>
    <script>
    $(function() {
        var tree = {{ tree | safe}};
        var root_substrings = ['MEBT', 'CM1', 'CM2', 'CM3'];
        $('#treeview').kendoTreeView({
            template: kendo.template($("#item-template").html()),
            dataSource: {
                data: tree,
            },

            checkboxes: {
                checkChildren: true,
            },
            loadOnDemand: false,


        });


        $("#svd").click(function() {
            $.ajax({
                type: "POST",
                url: "/orbit-correction", 
	            xhrFields: { withCredentials: true },
                data: { 
                    tree: _checkedNodes(), 
                    c_step: $("#cryogenic_step").val(), 
                    r_step: $("#roomtemp_step").val(),
                    rt_upper_limit: $("#rt_upper_limit").val(),
                    cryo_upper_limit: $("#cryo_upper_limit").val()
                }, 
                beforeSend: function() {
                    $(":submit").prop('disabled', true);
                },
                success: function(result) {
                    $('#singular_value_matrix').css('color', 'blue').html(result);
                    $(":submit").prop('disabled', false);
                },
            })
	});

        $("#corrector").click(function() {
            $.ajax({
                type: "POST",
                url: "/corrector-strength", 
	            xhrFields: { withCredentials: true },
                data: { 
                    low_limit: $("#singular_value_limit").val(), 
                }, 
                beforeSend: function() {
                    //$(":submit").prop('disabled', true);
                    $("#corrector").prop('disabled', true);
                },
                success: function(result) {
                    $('#steer_strength').css('color', 'green').html(result);
                    $(":submit").prop('disabled', false);
                },
            })
        });

        // function that gathers IDs of checked nodes
        function checkedNodeIds(nodes, checkedNodes) {
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].checked) {
                    checkedNodes.push(nodes[i]);
                }

                if (nodes[i].hasChildren) {
                    checkedNodeIds(nodes[i].children.view(), checkedNodes);
                }
            }
        };
        
        function _checkedNodes() {
            var checkedNodes = [],
                treeview = $("#treeview").data("kendoTreeView");
            checkedNodeIds(treeview.dataSource.view(), checkedNodes);
            var result = {};
            var substrings = ['DC', 'bpm'];
            for (var i=0; i != checkedNodes.length; i++) {
                var node_text = checkedNodes[i].text;
                if (new RegExp(substrings.join('|')).test(node_text)) {
                    var root_node = checkedNodes[i];
                    while (root_node.parentNode() != null) {
                        root_node = root_node.parentNode();
                    }

                    if (!(root_node.text in result)) {
                        result[root_node.text] = {};
                    }

                    if (node_text.indexOf('DC') >= 0) {
                        if (!('steerers' in result[root_node.text])) {
                            result[root_node.text]['steerers'] = [];
                        }
                        result[root_node.text]['steerers'].push(node_text);
                    } else {
                        if (!('bpms' in result[root_node.text])) {
                            result[root_node.text]['bpms'] = [];
                        }
                        var bpm_set = {};
                        bpm_set[node_text] = checkedNodes[i].value;
                        result[root_node.text]['bpms'].push(bpm_set);
                    }

                }
            }
            return JSON.stringify(result);
        }

    $(document).on("change", '.k-input', function(e) {
        var treeview = $("#treeview").data("kendoTreeView");
        var dataItem = treeview.dataItem($(this).closest('.k-item'));
        dataItem.value = $(this).val();
    })
    })
    </script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h2 style="text-align: center">Orbit Correction</h2>
        <br/> <br/>

        <div class="col-md-4 ">
            <table style="border-collapse:separate; border-spacing:0px 10px">
                {% for field in form %}
                <tr>
                    <td>{{ field.label }}</td><td >{{ field(id=field.name, size=12, class="form-control") }}</td>
                </tr>
                {% endfor %}
            </table>
            <div id="treeview"></div>
            <input type="submit" id="svd" class="btn btn-info" value="Submit">
        </div>
        <div class="col-md-4">
            <h3>Response Matrix:</h3>
            <label for="singular_value_limit">Singular Value Low Limit:</label>
            <input class="form-control" id="singular_value_limit" name="singular_value_limit" size="12" type="text" value="0">
            <div id="singular_value_matrix" style="color:#FF0000">This place leaved for showing singular matrix</div>
            <input type="submit" id="corrector" class="btn btn-info" value="Calculate Strengths">
        </div>
        <div class="col-md-4">
            <h3>Steerers Strength:</h3>
            <div id="steer_strength"></div>
        </div>
    </div>
</div>
{% endblock %}


